@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Listing";
}

@model AddListingVM

<style>
    .colorCardChild {
        border: 1px solid black;
    }
    .colorCardChild.selected {
        outline: 4px solid blue;
        outline-offset: 4px;
    }
</style>

<form method="post" asp-action="AddListing" enctype="multipart/form-data">
    <div class="row">
        <div class="mb-3 col-6">
            <div class="row mb-3">
                <label asp-for="@Model.Title" class="form-label">Listing Title: </label>
                <input asp-for="@Model.Title" class="form-control"/>
            </div>

            <div class="row mb-3">
                <label asp-for="@Model.Description" class="form-label">Listing Description: </label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="mb-3 col">
            <label asp-for="@Model.Price" class="form-label">Price: </label>
            <input asp-for="@Model.Price" class="form-control col-2"/>
        </div>

    </div>

    <div class="row col-9 g-4 mb-5">
        
        @foreach (var color in Model.AvailableColors)
        {
            <div class="col col-4 colorCard" id="colorCard- @color.ColorName">
                <div class="btn-outline-light card pt-0 pb-5 colorCardChild" style="width: 15rem; background-color: @color.HexValue ;">
                    <label class="btn" style="background-color: white; width: 100%; border-radius: .25rem .25rem 0 0;" for="ColorBtn @color.ColorName">@color.ColorName</label>
                    <div class="text-center">
                        <input type="checkbox" name="SelectedColors" value="@color.ColorId" class="colorCheckBox" id="ColorBtn @color.ColorName" hidden
                        @(Model.ListingColors?.Contains(color) == true ? "checked" : "")>
                    </div>
                </div>
            </div>
        }
    </div>

    <select asp-for="@Model.ListingProductId" class="mb-3">
        Product:
        @foreach (var prod in Model.Products)
        {
            <option value="@prod.ProductId">@prod.Name</option>
        } 
    </select>

    <label asp-for="ImageFile" > Upload images:  </label>
    <input class="form-control form-file mb-3 col-4" type="file" asp-for="ImageFile" />

    <input type="submit" value="Save" class="mb-3"/>
</form>


<script>
    //function selectCard(){
    //    this.classList.toggle('selected');
    //}
    var cards = document.querySelectorAll('.colorCard');
    cards.forEach(function(card){
        card.addEventListener('click', function(){
            this.classList.toggle('selected');
            var theid = this.getAttribute("id");
            console.log(theid);
            var colorCardChild = this.querySelector('.colorCardChild');
            var box = this.querySelector('.colorCheckBox');
            var boxId = box.getAttribute("id");
            console.log(boxId);
            if (box.checked){
                box.checked = false;
                colorCardChild.classList.remove('selected');
            }
            else {
                box.checked = true;
                colorCardChild.classList.add('selected');
            }
        })
    })
</script>