@model Order
@{
    double totalPrice = 0D;
    foreach (var item in Model.Items)
    {
        totalPrice += item.PricePerUnit * item.AmountOrdered;
    }


    // set the color of the status icon.
    string statusColor;
    statusColor =
        Model.Status == OrderStatus.Paid ? "text-primary" :
        Model.Status == OrderStatus.ReadyToShip ? "text-warning" :
        Model.Status == OrderStatus.Received ? "text-secondary" :
        Model.Status == OrderStatus.Shipped ? "text-success" : "";

    UserSettings settings = (UserSettings)ViewData["settings"]!;
}
<div class="order-wrapper">
    <table class="table table-sm order-header gap-0 table-borderless my-1">
        <tbody>
            <tr>
                <td>
                    <div class="h5">
                        @Model.Purchaser.FName[0]. @Model.Purchaser.LName
                    </div>
                    <div>
                        @Model.Address.AddressLine1 <br />
                        @Model.Address.CityTown, &nbsp; @Model.Address.StateAbr

                    </div>

                </td>
                <td class="truncate">

                    <i class="bi bi-calendar-plus-fill text-success"></i>
                    @Model.DateOrdered.ToLongDateString().Split(",")[1]
                    <br />
                    <i class="bi bi-calendar-check-fill text-warning"></i>
                    @Model.DateOrdered.AddDays(settings.DaysTillShipmentIsLate).ToLongDateString().Split(",")[1]
                    <br />
                    <span class="@statusColor">
                        @Model.Status
                    </span>
                </td>
                <td>

                    <div class="order-buttons list-group">
                        <a asp-action="" class="bi bi-chat-heart-fill btn btn-link contact-link list-group-item-action list-group-item-success" data-bs-toggle="tooltip" data-bs-title="contact @Model.Purchaser.FName @Model.Purchaser.LName">
                        </a>

                        <a asp-action="Ship" asp-controller="Ship" asp-route-orderId="@Model.OrderId" class="btn btn-link list-group-item-action list-group-item-success" data-bs-toggle="tooltip" data-bs-title="Ship Order">

                            <i class="bi bi-box2-heart-fill"></i>
                        </a>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    <table class="table my-0">
        <thead>
            <tr>
                <td>
                    <div class="text-secondary list-inline-item">Items</div>
                </td>
                <td>
                    &emsp;
                </td>
                <td>
                    <div class="text-secondary list-inline-item">colors</div>
                </td>
                <td>
                    <div class="text-secondary list-inline-item">qty</div>
                </td>
                <td>
                    <div class="text-secondary list-inline-item">price</div>
                </td>
            </tr>

        </thead>

        <tbody>
            @foreach (OrderItem item in Model.Items)
            {
                <tr>
                    <td class="d-inline-flex flex-row flex-shrink-1">
                        <div>
                            @item.Item.Name
                        </div>

                    </td>
                    <td>
                        <div>
                            @if (item.Item.ProductImage is not null)
                            {
                                <div class="list-inline-item p-1">
                                    <img class="img-thumbnail mx-auto" width="50" src="data:image;base64,@Convert.ToBase64String(item.Item.ProductImage.ImageData)" alt="Product Image">
                                </div>
                            }

                        </div>
                    </td>
                    <td>
                        <ul class="list-group">
                            @foreach (Color color in item.ItemColors)
                            {
                                <li class="list-group-item my-1" style="background-color:@color.HexValue; max-width: 40px;">
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <div class="list-inline-item">@item.AmountOrdered</div>
                    </td>
                    <td>@item.PricePerUnit.ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-group-divider">
                <td colspan="4" class="text-right">Total</td>
                <td colspan="1" class="font-weight-bold">@totalPrice.ToString("C")</td>
            </tr>

        </tfoot>
    </table>

</div>
