@model Order
@{
    // TODO add shipping time to settings.
    // TODO come back and look at printing invoices
    // TODO calculate total when order is created


    double totalPrice = 0;
    foreach (var item in Model.Items)
    {
        totalPrice += (item.PricePerUnit * item.AmountOrdered);
    }
    string uid = Model.Purchaser.Id;
    string statusColor =
        Model.Status == OrderStatus.PendingPayment ? "text-danger" :
        Model.Status == OrderStatus.Shipped ? "text-success" : "text-warning";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<div class="d-grid page-content">
    <div class="row">
        <div class="table d-table-cell col-sm-3">
            <a data-bs-toggle="collapse" href="#@Model.Purchaser.FName" class="btn btn-order">
                <h4 class="btn-text text-start btn-text">
                    @Model.Purchaser.FName[0].  @Model.Purchaser.LName
                    <small>
                        <i class="fa fa-angle-double-right text-80"></i>
                        @Model.DateOrdered.DayOfWeek.ToString()[..3] @Model.DateOrdered.Day
                    </small>
                </h4>
            </a>

        </div>
    </div>



    <!-- Maybe Later.
        <div class="page-tools">
            <div class="action-buttons">
                <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="Print">
                    <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                    Print
                </a>
                <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="PDF">
                    <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                    Export
                </a>
            </div>
        </div>
    </div>
        -->
    <!--TODO write javascript for copy to clipboard-->
    <!--Shipping Address-->

    <div class="collapse" id="@Model.Purchaser.FName">
        <div class="row">


            <div class="col-4 address-info">
                <div>
                    <span class="text-600 text-110 align-middle">@Model.Purchaser.FName @Model.Purchaser.LName</span>
                </div>
                <div class="text-grey-m3">
                    <div class="my-1">
                        @Model.Address.AddressLine1
                    </div>
                    @if (Model.Address.AddressLine2 is not null)
                    {
                        <div class="my-1">
                            @Model.Address.AddressLine2
                        </div>
                    }
                    <div class="my-1">
                        @Model.Address.CityTown, @Model.Address.StateAbr
                    </div>
                    @if (Model.Purchaser.PhoneNumber != null)
                    {
                        <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-600">@Model.Purchaser.PhoneNumber</b></div>
                    }
                    <a asp-action="Ship" asp-controller="Ship" asp-route-orderId="@Model.OrderId">
                        <i class="bi bi-box2-heart  text-success"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="text-grey-m2 w-100 align-top text-90 text-nowrap row">
                    <div class="my-2 text-center">
                        <span class="text-600">
                            Incoive # @Model.OrderId

                        </span>
                        &emsp;
                        <i class="fa fa-angle-double-right text-80"></i>
                        &emsp;
                        <span class="text-600 text-90">Ship By:</span> @Model.DateOrdered.AddDays(14).ToShortDateString()
                        &emsp;
                        <i class="fa fa-circle @statusColor"></i>
                        <span class="text-600 text-90 text-end">Status:</span> <span class="badge @statusColor badge-pill px-25">@Html.DisplayName(Model.StatusName[Model.Status])</span>
                    </div>
                </div>


                <table class="table table-info text-nowrap">
                    <!--order table header-->

                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Set Size</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col"># items in set</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (OrderItem item in Model.Items)
                        {
                            <tr>
                                <th scope="row" class="text-nowrap">@item.Item.Name</th>
                                @if (item.SetSize is not null)
                                {
                                    <td class="table d-table-cell">@item.SetSize.Size</td>
                                }
                                else
                                {
                                    <td class="table d-table-cell">Single</td>
                                }
                                <td class="table d-table-cell">@item.AmountOrdered</td>

                                <td class="table d-table-cell">
                                    @item.PricePerUnit.ToString("C")
                                </td>
                                <td class="table d-table-cell">
                                    @item.SetSize


                                </td>
                                @{
                                    double itemTotal = (item.AmountOrdered * item.PricePerUnit);
                                }
                                <td class="table d-table-cell">@itemTotal.ToString("C") </td>
                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">Total</th>
                            <td colspan="4" class="text-end">
                                @totalPrice
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
