@model ShippingAddress

@{
    ViewData["Title"] = "ShippingAddress";
}
<div class="my-auto mt-3">
    @if (Model is not null)
    {
        <dl class="list-group">
            <div class="row">
                <dt class="list-group-text col">
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </dt>
                <dd class="list-group-text col">
                    @Html.DisplayFor(model => model.AddressLine1)
                </dd>

            </div>

            <div class="row">
                <dt class="list-group-text col">
                    @Html.DisplayNameFor(model => model.CityTown)
                </dt>
                <dd class="list-group-text col">
                    @Html.DisplayFor(model => model.CityTown)
                </dd>
            </div>
            <div class="row">
                <dt class="list-group-text col">
                    @Html.DisplayNameFor(model => model.StateAbr)
                </dt>
                <dd class="list-group-text col">
                    @Html.DisplayFor(model => model.StateAbr)
                </dd>
            </div>
            <div class="row">
                <dt class="list-group-text col">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="list-group-text col">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </div>
        </dl>

    }
    else
    {
        <div class="my-5 py-5 bg-secondary rounded-5">
            <p class="text-bg-secondary text-center p-2" style="font-family:'Cascadia Mono';">No Address set for user @User.Identity?.Name</p>
        </div>
    }

</div>
