@model List<CustomerListVM>

<table class="table mt-3" id="message-table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Read or Unread</th>
            @*<th>Last Date Sent</th>*@
            @*<th>Product</th>
                <th>City</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerName</td>
                <td>
                    <a class="email-link" data-bs-toggle="modal"
                       data-bs-target="#emailModal"
                       data-email="@customer.Email">
                        @customer.Email
                        <i class="fa fa-envelope envelope-icon" aria-hidden="true"></i>
                    </a>
                </td>


                <td>
                    @if (customer.HasUnreadMessage)
                    {
                        <span class="badge badge-pill badge-warning">Unread messages</span>

                    }
                    else
                    {
                        <span class="badge badge-pill badge-info">all messages read</span>
                    }

                </td>
                @*<td>@customer.LName</td>*@
                @* <td>@customer.Product</td>
                    <td>@customer.City</td>*@
                <td>
                    @if (customer.Id != "" && customer.Id != null)
                    {
                        <a class="btn btn-primary" asp-action="MessagesFromCustomer" asp-route-id="@customer.Id">
                            Messages
                        </a>
                    }
                    else
                    {
                        <a href="#" class="content-link btn btn-secondary"
                           data-bs-toggle="modal"
                           data-bs-target="#contentModal" data-email="@customer.Email"
                           data-content="@customer.Content" data-truncated-content="">View Message</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal for displaying Message content -->
<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentModalLabel">Message Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <p class="fw-bold" id="sentFrom"></p>
                <h6 class="mt-2" id="untruncatedContent"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Send Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="emailForm" method="post" enctype="text/plain">
                    <div class="mb-3">
                        <label for="recipientEmail" class="form-label">Recipient Email</label>
                        <input type="email" class="form-control" id="recipientEmail" name="to" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Message Body</label>
                        <textarea class="form-control" id="body" name="body" rows="7" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .form-control {
        border-radius: 20px;
    }

    .message {
        position: relative;
        padding: 10px;
        margin-bottom: 10px;
        display: inline-block;
        clear: both;
    }

        .message.received {
            background: linear-gradient(to bottom right, #f2f2f2, #c1c1c1);
            border-radius: 20px 20px 20px 0;
            margin-left: 10px;
            float: left;
        }

        .message.sent {
            background: linear-gradient(to bottom right, #007bff, #4ac1ff);
            color: #fff;
            border-radius: 20px 20px 0 20px;
            margin-right: 10px;
            float: right;
        }

            .message.sent:before {
                content: '';
                position: absolute;
                right: -10px;
                top: 50%;
                border-width: 10px 0 10px 10px;
                border-style: solid;
                border-color: transparent transparent transparent #007bff;
                transform: translateY(-50%);
            }

        .message.received:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            border-width: 10px 10px 10px 0;
            border-style: solid;
            border-color: transparent #f2f2f2 transparent transparent;
            transform: translateY(-50%);
        }
</style>

@section CutomerChatScript{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>$(document).ready(function () {
            $('#clear-query').on('click', function () {
                //  $('#customer-name').val('');
                //$('#date-sent').val('');
                // $('#product').val('');
                //$('#city').val('');
                window.location.reload()
            });
            $('.email-link').on('click', function () {
                var email = $(this).data('email');
                $('#recipientEmail').val(email);

                var formAction = 'mailto:' + email;
                $('#emailForm').attr('action', formAction);
            });
            $(document).ready(function () {
                // Reset the form fields when the modal is closed
                $("#emailModal").on("hidden.bs.modal", function () {
                    $("#emailForm")[0].reset(); // Reset the form fields
                });
            });
            // Email Form
            $(document).ready(function () {
                $("#emailForm").submit(function (event) {
                    event.preventDefault(); // Prevent the default form submission behavior

                    // Get the form data
                    var formData = $(this).serializeArray();

                    // Remove the "__RequestVerificationToken" parameter
                    formData = formData.filter(function (item) {
                        return item.name !== "__RequestVerificationToken";
                    });
                    // Get the form action URL
                    var formAction = $(this).attr("action");

                    // Construct the URL
                    var url = formAction +
                        "?subject=" + encodeURIComponent(formData.find(function (item) { return item.name === "subject"; }).value) +
                        "&body=" + encodeURIComponent(formData.find(function (item) { return item.name === "body"; }).value);
                    console.log(url)
                    // Open the email client with the pre-filled fields
                    window.location.href = url;
                });
            });

            // Select 2 product list
            $(document).ready(function () {
                $('#product').select2();
                $('#city').select2();
            });

            // Message content View
            $('.content-link').click(function () {
                var email = $(this).data('email');

                var truncatedContent = $(this).data('truncated-content');
                var untruncatedContent = $(this).data('content');

                console.log(email);
                $('#sentFrom').text("From: " + email);
                let msg = "Message: " + untruncatedContent;
                $('#untruncatedContent').text(msg);
            });

            // Search for messages when the search button is clicked
            $('#search-form').submit(function (event) {
                event.preventDefault();
                var customerName = $('#customer-name').val();
                //var purchaseDate = $('#purchase-date').val();
                //var dueDate = $('#due-date').val();
                var dateSent = $('#date-sent').val();
                var product = $('#product').val();
                var city = $('#city').val();
                console.log(`customerName:${customerName} dateSent:${dateSent} Product:${product} City:${city}`)
                var url = '/contact/FilterMesseges';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        customerName: customerName,
                        //purchase_date: purchaseDate,
                        //due_date: dueDate
                        dateSent: dateSent,
                        product: product,
                        city: city,
                    },
                    success: function (response) {
                        var results = '';
                        if (response.length > 0) {
                            $.each(response, function (index, message) {
                                results += '<tr>';
                                results += '<td>' + message.senderUserName + '</td>';
                                results += '<td>' + message.receiverUserName + '</td>';
                                results += '<td>' + message.email + '</td>';
                                results += '<td>' + message.content + '</td>';
                                //results += '<td>' + message.purchase_date + '</td>';
                                //results += '<td>' + message.due_date + '</td>';
                                results += '<td>' + message.dateSent + '</td>';
                                results += '<td>' + message.product + '</td>';
                                results += '<td>' + message.city + '</td>';
                                results += '</tr>';
                            });
                        } else {
                            results += '<tr><td colspan="4">No messages found.</td></tr>';
                        }
                        $('#message-table tbody').html(results);
                        $('#message-table tbody').html(results);
                    },
                    error: function () {
                        alert('An error occurred while searching messages.');
                    }
                });
            });
        });</script>
}