@model List<UserMessage>?
<style>
    /* .container {
                            max-width: 500px;
                            margin: 0 auto;
                            text-align: center;
                            padding-top: 50px;
                        }*/

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="date"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

        button[type="submit"]:hover {
            background-color: #0069d9;
        }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


<h3>Search Customer Messages</h3>
<div class="div">
    <form class="row" id="search-form">
        <div class="form-group col-md-3">
            @*CHANGED THE FIELD BELOW FROM CUSTOMER NAME TO SENDER DUE TO PR-95*@
            <label for="customer-name">Customer Name:</label>
            <input type="text" class="form-control" id="customer-name">
        </div>
        <div class="form-group col-md-3">
            <label for="customer-name">Date Sent: </label>
            <input type="date" class="form-control" id="date-sent">
        </div>
        <div class="form-group col-md-3">
            <label for="product">Product: </label>
            <select class="js-example-basic-single form-select" id="product" name="product" asp-items="@ViewBag.products">
                <option value="">-- select Product --</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="city">City: </label>
            <select class="js-example-basic-single form-select" id="city" name="city" asp-items="@ViewBag.cities">
                <option value="">-- select City --</option>
            </select>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="button" id="clear-query" class="btn btn-warning btn-sm float-end">Clear Result</button>
        </div>
    </form>
    <div id="results"></div>

</div>

<table class="table mt-3" id="message-table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Messeage</th>
            <th>Date Sent</th>
            <th>Product</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.CustomerName</td>
                <td>
                    <a class="email-link" data-bs-toggle="modal"
                       data-bs-target="#emailModal"
                       data-email="@message.Email">
                        @message.Email
                        <i class="fa fa-envelope envelope-icon" aria-hidden="true"></i>
                    </a>
                </td>

                <td>
                    @*@{
                        string[] words = message.Content.Split(' ');
                        int maxWords = 10;
                        string truncatedContent = string.Join(' ', words.Take(maxWords));
                        }

                        <a href="#" class="content-link"
                        data-bs-toggle="modal"
                        data-bs-target="#contentModal" data-email="@message.Email"
                        data-content="@message.Content" data-truncated-content="@truncatedContent">@truncatedContent</a>*@
                    <a href="#" class="content-link btn btn-secondary"
                       data-bs-toggle="modal"
                       data-bs-target="#contentModal" data-email="@message.Email"
                       data-content="@message.Content" data-truncated-content="">View Message</a>
                </td>




                <td>@message.DateSent</td>
                <td>@message.Product</td>
                <td>@message.City</td>
                <td>@message.City</td>
                <td>
                    @*<a asp-action="Responses" asp-route-MessageId="@message.CustomerMessageId" class="btn btn-primary">Respond</a>*@
                    <!-- Button to open the modal -->

                    <button type="button" class="btn btn-primary" data-MessageId="" data-bs-toggle="modal" data-bs-target="#supportModal">
                        respond
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Send Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="emailForm" method="post" enctype="text/plain">
                    <div class="mb-3">
                        <label for="recipientEmail" class="form-label">Recipient Email</label>
                        <input type="email" class="form-control" id="recipientEmail" name="to" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Message Body</label>
                        <textarea class="form-control" id="body" name="body" rows="7" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying Message content -->
<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentModalLabel">Message Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <p class="fw-bold" id="sentFrom"></p>
                <h6 class="mt-2" id="untruncatedContent"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<style>
    .admin-info {
        display: flex;
        flex-direction: column;
    }

    .admin-name {
        font-weight: bold;
    }

    .time-stamp {
        opacity: 0.6;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supportModalLabel">Customer Support</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Customer Inquiry -->
                <div class="row mb-3">
                    <div class="admin-inf">
                        <p class="fw-bold">John Doe User</p>
                        <p class="time-stamp mt-0">June 4, 2023 - 11:00 AM</p>
                    </div>
                    @*  <div class="col">
                            <h6>Customer Name</h6>
                            <p>John Doe</p>
                        </div>
                        <div class="col">
                            <h6>Time</h6>
                            <p>June 4, 2023 - 10:30 AM</p>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col">
                        @*<h6>Inquiry Title</h6>*@
                        <h6>Product Inquiry</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Inquiry Description</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue aliquam tincidunt. Phasellus vitae
                            nunc eu nibh sodales scelerisque. Sed volutpat lacus eget luctus egestas. Fusce gravida facilisis arcu,
                            ac finibus velit dignissim ac.
                        </p>
                    </div>
                </div>

                <!-- Admin Response -->
                <div class="row mt-4">
                    @* <div class="col">
                        <h6>Admin Name</h6>
                        <p>Admin User</p>
                        </div>
                        <div class="col">
                        <h6>Time</h6>
                        <p>June 4, 2023 - 11:00 AM</p>
                        </div>*@


                    <div class="col">
                        <div class="admin-inf">
                            <p class="fw-bold">Admin User</p>
                            <p class="time-stamp mt-0">June 4, 2023 - 11:00 AM</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Response</h6>
                        <p>Thank you for your inquiry. Our support team will get back to you shortly.</p>
                    </div>
                </div>
            </div>
            <!-- Message textarea -->
            <div class="row m-1">
                <div class="col">
                    <textarea class="form-control" id="messageTextarea" rows="8" cols="20" placeholder="Write a message..."></textarea>
                </div>
            </div>
            <!-- Send button -->
            <div class="row me-2 mb-2 text-right">
                <div class="col">
                    <button type="button" class="btn btn-primary" id="sendButton">Send</button>
                </div>
            </div>

            @* <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>



@section CutomerChatScript{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>$(document).ready(function () {
            // Send button click event
            $('#sendButton').click(function () {
                // Get the message from the textarea
                var message = $('#messageTextarea').val();

                $('#messageTextarea').val('');

                // Append the new message to the admin response section
                var newMessage = `
                                        <div class="row">
                                                   <div class="admin-inf">
                                                <p class="fw-bold">Admin User</p>
                                                        <p class="time-stamp mt-0">${getCurrentTime()}</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h6>Response</h6>
                                            <p>${message}</p>
                                          </div>
                                        </div>
                                      `;
                $('#supportModal .modal-body').append(newMessage);

                // Save the message to the API (replace the API_URL with your actual API endpoint)
                $.ajax({
                    type: 'GET',
                    url: '/contact/ResponseToMessage',
                    data: {
                        message: message,
                        customerMessageId:
                        },
                    success: function (response) {
                        // Reset the textarea after successful submission

                    },
                    error: function (xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });

            // Helper function to get the current time
            function getCurrentTime() {
                var now = new Date();
                var timeString = now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                return now.toDateString() + ' - ' + timeString;
            }
        });</script>

    <script>$(document).ready(function () {
            $('#clear-query').on('click', function () {
                //  $('#customer-name').val('');
                //$('#date-sent').val('');
                // $('#product').val('');
                //$('#city').val('');
                window.location.reload()
            });
            $('.email-link').on('click', function () {
                var email = $(this).data('email');
                $('#recipientEmail').val(email);

                var formAction = 'mailto:' + email;
                $('#emailForm').attr('action', formAction);
            });
            $(document).ready(function () {
                // Reset the form fields when the modal is closed
                $("#emailModal").on("hidden.bs.modal", function () {
                    $("#emailForm")[0].reset(); // Reset the form fields
                });
            });
            // Email Form
            $(document).ready(function () {
                $("#emailForm").submit(function (event) {
                    event.preventDefault(); // Prevent the default form submission behavior

                    // Get the form data
                    var formData = $(this).serializeArray();

                    // Remove the "__RequestVerificationToken" parameter
                    formData = formData.filter(function (item) {
                        return item.name !== "__RequestVerificationToken";
                    });
                    // Get the form action URL
                    var formAction = $(this).attr("action");

                    // Construct the URL
                    var url = formAction +
                        "?subject=" + encodeURIComponent(formData.find(function (item) { return item.name === "subject"; }).value) +
                        "&body=" + encodeURIComponent(formData.find(function (item) { return item.name === "body"; }).value);
                    console.log(url)
                    // Open the email client with the pre-filled fields
                    window.location.href = url;
                });
            });

            // Select 2 product list
            $(document).ready(function () {
                $('#product').select2();
                $('#city').select2();
            });

            // Message content View
            $('.content-link').click(function () {
                var email = $(this).data('email');

                var truncatedContent = $(this).data('truncated-content');
                var untruncatedContent = $(this).data('content');

                console.log(email);
                $('#sentFrom').text("From: " + email);
                let msg = "Message: " + untruncatedContent;
                $('#untruncatedContent').text(msg);
            });

            // Search for messages when the search button is clicked
            $('#search-form').submit(function (event) {
                event.preventDefault();
                var customerName = $('#customer-name').val();
                //var purchaseDate = $('#purchase-date').val();
                //var dueDate = $('#due-date').val();
                var dateSent = $('#date-sent').val();
                var product = $('#product').val();
                var city = $('#city').val();
                console.log(`customerName:${customerName} dateSent:${dateSent} Product:${product} City:${city}`)
                var url = '/contact/FilterMesseges';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        customerName: customerName,
                        //purchase_date: purchaseDate,
                        //due_date: dueDate
                        dateSent: dateSent,
                        product: product,
                        city: city,
                    },
                    success: function (response) {
                        var results = '';
                        if (response.length > 0) {
                            $.each(response, function (index, message) {
                                results += '<tr>';
                                results += '<td>' + message.customerName + '</td>';
                                results += '<td>' + message.email + '</td>';
                                results += '<td>' + message.content + '</td>';
                                //results += '<td>' + message.purchase_date + '</td>';
                                //results += '<td>' + message.due_date + '</td>';
                                results += '<td>' + message.dateSent + '</td>';
                                results += '<td>' + message.product + '</td>';
                                results += '<td>' + message.city + '</td>';
                                results += '<td>' + message.customerMessageId + '</td>';
                                results += '</tr>';
                            });
                        } else {
                            results += '<tr><td colspan="4">No messages found.</td></tr>';
                        }
                        $('#message-table tbody').html(results);
                        $('#message-table tbody').html(results);
                    },
                    error: function () {
                        alert('An error occurred while searching messages.');
                    }
                });
            });
        });</script>
}