@model HipAndClavicle.ViewModels.ShoppingCartViewModel;
<link rel="stylesheet" href="~/css/styles.css" />
@{
    ViewData["Title"] = "Shopping Cart";
}

@if (Model.ShoppingCartItems == null || !Model.ShoppingCartItems.Any())
{
    <p class="text-center">Your shopping cart is empty.</p>
    <br />
    <br />
    @*TODO: This add button is for testing remove later.*@
    <h2>This is for testing only!</h2>
    <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
        <input type="hidden" name="listingId" value="1" />
        <button type="submit" class="btn btn-primary">Add Sample Listing to Cart</button>
    </form>
}
else
{
    <div class="container">
        <div class="table-responsive">
            <div>
                @if (Model.ShoppingCartItems.Count == 1)
                {
                    <h1>@Model.ShoppingCartItems.Count item in cart</h1>
                }
                else if (Model.ShoppingCartItems.Count > 1)
                {
                    <h1>@Model.ShoppingCartItems.Count items in cart</h1>
                }
            </div>
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.ShoppingCartItems)
                        {
                            <tr class="table-borderless">
                                <td><img src="~/images/hp-logo.png" alt="missing image" width="100" /></td>
                                @*<td><img src="@item.Img" alt="missing image" width="100" /></td>*@
                                <td>
                                    <strong>@item.Name</strong><br />
                                    @item.Desc
                                </td>
                                <td>
                                    <form asp-action="UpdateCart" asp-controller="ShoppingCart" method="post">
                                        <label>Quantity:</label>
                                        <input type="hidden" name="itemId" value="@item.Id" />
                                        <input type="number" name="quantity" value="@item.Qty" min="1" size="2" />
                                        <button type="submit" name="submit" class="btn btn-dark">Update</button>
                                    </form>
                                </td>
                                <td>
                                    <strong>Price Total:</strong> $@item.ItemTotal<br />
                                    <em>($@item.ItemPrice each)</em>
                                </td>
                                <td>
                                <form asp-action="RemoveFromCart" asp-controller="ShoppingCart" method="post">
                                    <input type="hidden" name="itemId" value="@item.Id" />
                                    <button type="submit" class="btn btn-dark" onclick="return confirm('Are you sure you want to remove this item from the cart?');">Delete</button>
                                </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                    
        </div>
        <strong class="float-end">Cart Total: @Model.CartTotal</strong><br />
        <div class="float-start">
            <form asp-action="ClearCart" asp-controller="ShoppingCart" method="post" class="float-start">
                <input type="hidden" name="cartId" value="@Model.CartId" />
                <button type="submit" class="float-end btn btn-outline-danger" onclick="return confirm('Are you sure you want to clear your entire cart?');">Empty Cart</button>
            </form>
        </div>
        <div class="float-end">
            <a href="/checkout" class="btn btn-dark">Checkout    ></a>
        </div>
        <br />
        <br />
        <div>
            @*TODO: This add button is for testing, remove later.*@
            <h2>This is for testing only!</h2>
            <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                <input type="hidden" name="listingId" value="1" />
                <button type="submit" class="btn btn-primary">Add Sample Listing to Cart</button>
            </form>
        </div>
    </div>
}