<<<<<<< HEAD
﻿@model MerchantVM
@{
}

<table class="table table-success">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Set Qty</th>
            <th>Type</th>
            <th>Pulled</th>
            <th>Cut</th>
            <th>Folded</th>
            <th>Stickered</th>
        </tr>
    </thead>
    <tr>
        @foreach (Order order in Model.CurrentOrders)
        {
                <td>
            for (int i = 0; i < order.Items.Count; i++)
            {

            }

        }
    </tr>
=======
﻿@model MerchantVM
@{
}

<table class="table table-success">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Set Qty</th>
            <th>Type</th>
            <th>Pulled</th>
            <th>Cut</th>
            <th>Folded</th>
            <th>Stickered</th>
        </tr>
    </thead>
    @foreach (Order order in Model.CurrentOrders)
    {
        @foreach (OrderItem item in order.Items)
        {
            <tr class="table table-secondary">
                <td>@item.Item.QuantityOnHand</td>
                <td>@item.Item.QuantityOrdered</td>
                <td>@item.Item.Category</td>
                <td>@item.IsPulled</td>
                <td>@item.IsCut</td>
                <td>@item.IsFolded</td>
                <td>@item.IsStickered</td>
            </tr>
        }
    }
>>>>>>> f6b757a49d1eddb176cd701cc052bdbe39ddf702
</table>